.mainContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
        "image buttons"
        "slider buttons"
        "toolbar buttons";
    height: 100vh;
    width: 100vw;
}

.titleContainer {
    display: flex;
    color: black;
    z-index: 2;
    position: absolute;
    left: 20px;
    top: 40px;
}

.titleContainer p {
    cursor: default;
    text-align: start;
    font-size: 26pt;
}

.imageContainer {
    grid-area: image;
    box-shadow: 0px 0px 15px 10px black;
    margin: auto;
    background-size: contain;
    background-color: black;
    width: 700px;
    height: 700px;

}

.sliderContainer {
    grid-area: slider;
    margin-top: 2rem;
    padding: 2rem;
}

.slider {
    -webkit-appearance: none;
    margin-left: 20%;
    width: 60%;
    height: 10px;
    cursor: grab;
    transform: skew(-20deg);
    background-color: white;
    border: 2px solid black;
    box-shadow: 0px 0px 15px 5px black;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 40px;
    transform: skew(-10deg);
    background-image: linear-gradient(to bottom left, rgb(70, 70, 70), whitesmoke);
    border: 3px solid black;
    box-shadow: 0px 0px 15px 2px black;
}

.toolbarContainer {
    display: flex;
    grid-area: toolbar;
    width: fit-content;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    grid-area: buttons;
    display: flex;
    flex-direction: column;
}

.buttonContainer button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: 20pt;
    font-weight: bolder;
}

.buttonContainer button:hover {
    transform: scale(1.2);
}